MauiKITrainer/.vs
MauiKITrainer/MauiKITrainer/MauiKITrainer/bin
MauiKITrainer/MauiKITrainer/MauiKITrainer/obj
MauiKITrainer/MauiKITrainer/MauiKITrainer.WinUI/bin
MauiKITrainer/MauiKITrainer/MauiKITrainer.WinUI/obj
